*{
  margin:0;
  padding:0;
}


.innerDiv {
  border: solid black 1px;
  background-color: darkGreen;
  color: white;
  text-align: center;
  padding-top:5em;
  padding-bottom:5em;
  width:90%;
  margin-top:5em;
}
